body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.container {
    padding: 20px;
    margin-top: 20px;
}

h2 {
   
    font-weight:bold;
    text-align: center;
    margin-bottom: 20px;
}

.table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 123, 255, 0.2);
}

.table th {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.table td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

.table tr:last-child td:first-child {
    border-bottom-left-radius: 10px;
}

.table tr:last-child td:last-child {
    border-bottom-right-radius: 10px;
}

.btn-primary {
    background-color:  #28a745;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    display: block;
    width: max-content;
    margin: 20px auto;
}

.btn-primary:hover {
    background-color: #28a745;
}
